<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Ajouter une Entité</title>
</head>
<body>
    {% extends "base.html" %}

    {% block title %}addentity{% endblock %}
    
    {% block content %}
    <h1>Ajouter une Entité</h1>
    <div class="form-container">
        <form action="{{ url_for('add_entity') }}" method="post">
            <label for="identity">identity:</label>
            <input type="text" id="identity" name="identity" required>
            <label for="nomentity">Nom de l'entité:</label>
            <input type="text" id="nomentity" name="nomentity" required>
            <br>
            <div class="button-container">
                <input type="submit" value="Ajouter">
                <input type="reset" value="Effacer">
            </div>
        </form>
    </div>
    {% endblock %}

</body>
</html>